[Desktop Entry]
Version=1.0
Type=Application
Name=Arcolinux-settings in VSCodium
Comment=Open arcolinux-settings path in VSCodium
Exec=codium .
Icon=format-text-code
Path=/home/***/Documents/arcolinux-settings
Terminal=false
StartupNotify=true
