[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Login sound
Comment=
Exec=ffplay -nodisp -autoexit /home/***/.login.sound.mp3
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
